@media(max-width:900px){

.menu-toggle{

display:block;

}

.nav-links{

position:absolute;

top:90px;

right:-100%;

background:white;

width:250px;

flex-direction:column;

padding:30px;

transition:.4s;

}

.nav-links.active{

right:20px;

}

}