:root{
    --primary:#219EBC;
    --secondary:#8ECAE6;
    --accent:#90BE6D;
    --dark:#126782;
    --background:#F8FCFF;
    --white:#FFFFFF;
    --text:#444444;

    --radius:20px;
    --shadow:0 5px 20px rgba(0,0,0,.1);

    --transition:.3s ease;
}
.dark-mode{

--background:#0f172a;

--white:#1e293b;

--text:#f8fafc;

--dark:#ffffff;

}